body {
	font-family: simsun;
	font-size:14px;
	color:#000;
	margin: 0;
	padding: 0;
	background-color: #fff;
	background-image: url(index_bg.jpg);
	background-repeat: repeat-x;
}

div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; list-style: none none;}
h1,h2,h3,h4,h5,h6 {
	font-size:14px;
	font-weight: bold;
	color: #ff8a00;
	text-align: center;
	margin-top: 6px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
p {
	font-size:14px;
	line-height: 22px;
}

table,td,tr,th{
	font-size:14px;
	line-height: 24px;
	color: #0f54c9;
}

/* ������ɫ */
a:link {color: #333; text-decoration:none;}
a:visited {color: #333;text-decoration:none;}
a:hover { color: #f60; text-decoration:none;}
a:active { color: #333;}

.fB {font-weight: bold;}
.clr{ clear: both;}
.clr_10{ clear: both; height: 10px; line-height: 0; font-size: 0;}

.pages{ height: 28px; line-height: 28px;}
.title_bg{
	background-repeat: repeat;
	height: 6px;
	width: auto;
	padding: 0px;
	background-image: url(titline.jpg);
}
.Header{ width: 1002px; margin: 0 auto; background-color: #fff;}
.Header .title{
	background-repeat: no-repeat;
	height: 169px;
	width: auto;
	padding: 0px;
}
.Header .nav{ clear:both; height: 36px; background:url(nav_bg.jpg) repeat-x 0 0;}
.Header .nav .main_titlebg{
	clear:both;
	height: 36px;
	background:url(nav1.jpg) repeat-x 0 -36px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-indent: 20px;
	line-height: 30px;
}
.Header .nav ul{ background:url(nav.jpg) no-repeat 0 -36px; height: 36px;}
.Header .nav li{ float:left; width: 103px; height: 36px;}
.Header .nav li a{ display:block; height: 36px; font-size: 0; line-height: 0; overflow:hidden;}
.Header .nav .n1{ width: 103px;}
.Header .nav .n2{ width: 103px;}
.Header .nav .n1 a:hover,.Header .nav .n1 .tag{ background:url(nav.jpg) no-repeat 0 0;}
.Header .nav .n2 a:hover,.Header .nav .n2 .tag{ background:url(nav.jpg) no-repeat -103px 0;}
.Header .nav .n3 a:hover,.Header .nav .n3 .tag{ background:url(nav.jpg) no-repeat -206px 0;}
.Header .nav .n4 a:hover,.Header .nav .n4 .tag{ background:url(nav.jpg) no-repeat -309px 0;}
.Header .nav .n5 a:hover,.Header .nav .n5 .tag{ background:url(nav.jpg) no-repeat -412px 0;}
.Header .nav .n6 a:hover,.Header .nav .n6 .tag{ background:url(nav.jpg) no-repeat -515px 0;}
.Header .nav .n7 a:hover,.Header .nav .n7 .tag{ background:url(nav.jpg) no-repeat -618px 0;}
.Header .nav .n8 a:hover,.Header .nav .n8 .tag{ background:url(nav.jpg) no-repeat -721px 0;}
.Header .nav .n9 a:hover,.Header .nav .n9 .tag{ background:url(nav.jpg) no-repeat -824px 0;}
.Header .nav .n10 a:hover,.Header .nav .n10 .tag{ background:url(nav.jpg) no-repeat -927px 0;}

.login_1{ float:right; width: 300px; border: 1px solid #ccc; color: #666;}
.login_1 .bg{padding: 10px 0 0 20px;}
.login_1 h3{ font-size: 14px; font-weight:bold; height: 30px; line-height: 25px; color: #0054A6;}
.login_1 li{ height: 28px;}
.login_1 .input{ height: 15px; line-height: 15px; border: 1px solid #ccc;}
.login_1 .but{ background:url(img/but_1.gif) no-repeat 0 0; width: 47px; height: 22px; line-height: 22px; color: #fff; font-weight:bold; cursor: pointer; border: none;}
.login_1 .bottom{ text-align:center; height: 37px; padding-top: 2px;}
.login_1 a,.ContentHome .login a:visited{ color: #666;}
.login_1 a:hover{ color: #f60;}

.main{
	float:left;
	width: 589px;
	height: 400px;
	background-image: url(img/11.jpg);
	background-repeat: no-repeat;
}

.login_2{
	float:right;
	width:352px;
	color: #666;
	height: 281px;
	background-image: url(img/12.jpg);
}
.login_3{
	float:right;
	width:300px;
	color: #004b85;
	height: 35px;
    padding:30px 0 0 45px;
}
.login_2 .bg_1{padding:60px 0 0 45px;}
.login_2 h3{ font-size: 14px; line-height: 45px; color: #7b7b7b;}
.login_2 li{ height: 45px;}
.login_2 .input{ height: 15px; line-height: 15px; border: 1px solid #ccc;}
.login_2 .but{ background:url(img/but_1.gif) no-repeat 0 0; width: 47px; height: 22px; line-height: 22px; color: #fff; font-weight:bold; cursor: pointer; border: none;}
.login_2 .bottom{ text-align:center; height: 37px; padding-top: 2px;}
.login_2 a,.ContentHome .login a:visited{ color: #666;}
.login_2 a:hover{ color: #f60;}



.ContentHome{ width: 1002px; margin: 0 auto; padding: 7px 0; clear:both;}
.ContentHome .wbz{
	float:left;
	width: 1002px;
	background-image: url(wbz.jpg);
	background-repeat: repeat-x;
	height: 30px;
}
.ContentHome .wbz .wleft{
	float:left;
	width: 148px;
	height: 30px;
	background-image: url(wbz1.jpg);
	background-repeat: repeat;
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 30px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}
.ContentHome .wbz .wright{
	float:left;
	width: 850px;
	height: 30px;
	line-height: 30px;
	text-indent: 20px;
}
.ContentHome .gdxw{
	float:left;
	width: 1002px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ContentHome .gdxw .left{
	float:left;
	width: 232px;
	height: 300px;
}
.ContentHome .gdxw .left .one{
	float:left;
	width: 232px;
	height: 148px;
	background-image: url(jrzb.png);
	background-repeat: no-repeat;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
.ContentHome .gdxw .left .one .zb{
	float:left;
	width: 232px;
	height: 70px;
	padding-top: 35px;
}
.ContentHome .gdxw .left .one .zb1{
	float:left;
	width: 232px;
	height: 30px;

}
.ContentHome .gdxw .left .two{
	float:left;
	width: 222px;
	height: 89px;
	background-image: url(jrzb1.png);
	background-repeat: no-repeat;
	margin-top: 8px;
	font-family: "微软雅黑";
	font-size: 14px;
	padding-top: 35px;
	padding-left: 10px;
	padding-bottom: 20px;
}
.ContentHome .gdxw .left .two .yi{
	float:left;
	width: 200px;
	height: 40px;
	padding-left: 10px;
}
.ContentHome .gdxw .left .two .yi li{
	line-height: 22px;
}
.ContentHome .gdxw .right{
	float:right;
	width: 770px;
	height: 300px;
}
.ContentHome .gdxw .right .one{
	float:left;
	width: 770px;
	height: 35px;
	background-image: url(jrzb2.png);
		background-repeat: no-repeat;
}
.ContentHome .gdxw .right .one .tab1{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #006cdc;
	background: url(xwtab1.jpg) no-repeat;
	height: 27px;
	width: 82px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 7px;
	margin-left: 14px;
}
.ContentHome .gdxw .right .one .tab2{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #FFF;
	height: 27px;
	width: 82px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 7px;
	margin-left: 7px;
	background: url(xwtabbg.png) no-repeat;
}
.ContentHome .gdxw .right .two{
	float:left;
	width: 770px;
	height: 265px;
	background-image: url(jrzb3.png);
	background-repeat: no-repeat;
	background-position: 4px;	
}
.ContentHome .gdxw .right .two .hd{
	float:left;
	width: 324px;
	height: 259px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.ContentHome .gdxw .right .two .nr{
	float:left;
	width: 390px;
	height: 259px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	margin-left: 10px;
}
.ContentHome .gdxw .right .two .nr li{
	line-height: 24px;
	text-align: left;
}
.ContentHome .gdxw .right .two .nr span{
	color: #b1b1b1;
	font-size: 12px;
}
.ContentHome .gdxw .right .two .nr .line{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #0664bc;
	font-size: 12px;
}
.ContentHome .xwmain{
	float:left;
	width: 1000px;
}
.ContentHome .xwmain .xwleft{
	float:left;
	width: 760px;
}
.ContentHome .xwmain .xwleft .zong{
	float:left;
	width: 760px;
}
.ContentHome .xwmain .xwleft .zong .mrdt{
	float:left;
	width: 232px;
	height: 207px;
}
.ContentHome .xwmain .xwleft .zong .mrdt .one{
	float:left;
	width: 232px;
	height: 30px;
	background-image: url(mrdt1.jpg);
}
.ContentHome .xwmain .xwleft .zong .mrdt .one .tab1{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #006cdc;
	background: url(xwtab1.jpg) no-repeat;
	height: 27px;
	width: 82px;
	margin-left: 5px;
		border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ContentHome .xwmain .xwleft .zong .mrdt .one .tab2{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #FFF;
	height: 27px;
	width: 82px;
	margin-top: 3px;
	margin-left: 2px;
	background: url(xwtabbg.png) no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ContentHome .xwmain .xwleft .zong .mrdt .one .text{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #FFF;
	line-height: 20px;
}
.ContentHome .xwmain .xwleft .zong .mrdt .two{
	float:left;
	width: 215px;
	height: 169px;
	background-image: url(mrdtbg.jpg);
	background-color: #FFF;
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e4f0fb;
	border-bottom-color: #e4f0fb;
	border-left-color: #e4f0fb;
	padding-top: 8px;
	padding-left: 15px;
}

.ContentHome .xwmain .xwleft .zong .mrdt .two li{
	line-height: 26px;
	text-align: left;
}

.ContentHome .xwmain .xwleft .zong .tztb{
	float:right;
	width: 523px;
	height: 207px;
}
.ContentHome .xwmain .xwleft .zong .tztb .one{
	float:left;
	width: 523px;
	height: 30px;
	background-image: url(tztb.jpg);
}
.ContentHome .xwmain .xwleft .zong .tztb .one .left{
	float:left;
	width: 200px;
	height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #FFF;
	text-indent: 40px;
	line-height: 30px;
	background-image: url(tzggdian.png);
	background-repeat: no-repeat;
	background-position: 15px;
}
.ContentHome .xwmain .xwleft .zong .tztb .one .right{
	float:right;
	width: 200px;
	text-align: right;
	padding-right: 10px;
	height: 30px;
	vertical-align: middle;
}

.ContentHome .xwmain .xwleft .zong .tztb .one .text{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #FFF;
	line-height: 20px;
}
.ContentHome .xwmain .xwleft .zong .tztb .two{
	float:left;
	width: 511px;
	height: 169px;
	background-image: url(mrdtbg.jpg);
	background-color: #FFF;
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e4f0fb;
	border-bottom-color: #e4f0fb;
	border-left-color: #e4f0fb;
	padding-top: 8px;
	padding-left: 10px;
}
.ContentHome .xwmain .xwleft .zong .tztb .two .left{
	float:left;
	width: 426px;
	height: 169px;

}
.ContentHome .xwmain .xwleft .zong .tztb .two .right{
	float:left;
	width: 80px;
	height: 169px;

}
.ContentHome .xwmain .xwleft .zong .tztb .two .right li{
	line-height: 26px;
	text-align: left;

}
.ContentHome .xwmain .xwleft .zong .tztb .two .left li{
	line-height: 26px;
	text-align: left;
}
.ContentHome .xwmain .xwleft .banner1{
	float:left;
	width: 760px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ContentHome .xwmain .xwleft .happy{
	float:left;
	width: 760px;
	padding-bottom: 5px;
	background-image: url(happy.png);
	background-repeat: no-repeat;
	height: 72px;
	font-size: 14px;
	text-indent: 5px;
	font-family: "微软雅黑";
	line-height: 20px;
	padding-left: 5px;
}
.ContentHome .xwmain .xwleft .happy .text{
	float:left;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 20px;
	padding-top: 40px;
	padding-right: 230px;
	padding-left: 5px;
}
.ContentHome .xwmain .xwleft .ban1x1{
	float:left;
	width: 760px;
	padding-bottom: 6px;
}
.ContentHome .xwmain .xwleft .ban1x1 .one{
	float:left;
	width: 379px;
	height:214px;
}
.ContentHome .xwmain .xwleft .ban1x1 .one .title1{
	float:left;
	width: 379px;
	height:39px;
	background-image: url(onetitle.png);
}
.ContentHome .xwmain .xwleft .ban1x1 .one .title1 .left{
	float:left;
	width: 150px;
	height: 39px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #FFF;
	text-indent: 40px;
	line-height: 39px;
	background-image: url(tzggdian.png);
	background-repeat: no-repeat;
	background-position: 15px;
}
.ContentHome .xwmain .xwleft .ban1x1 .one .title1 .right{
	float:right;
	width: 130px;
	height: 39px;
}
.ContentHome .xwmain .xwleft .ban1x1 .one .main1{
	float:left;
	width: 379px;
	height:175px;
	background-image: url(bg1.png);
	background-position: center;
}
.ContentHome .xwmain .xwleft .ban1x1 .one .main1 .nei{
	float:left;
	width: 300px;
	height:175px;
	margin-left: 10px;
}
.ContentHome .xwmain .xwleft .ban1x1 .one .main1 .nei li{
	line-height: 26px;
	text-align: left;
}
.ContentHome .xwmain .xwleft .ban1x1 .one .main1 .riqi{
	float:right;
	width: 60px;
	height:175px;
}
.ContentHome .xwmain .xwleft .ban1x1 .one .main1 .riqi li{
	line-height: 26px;
	text-align: left;
}
.ContentHome .xwmain .xwleft .ban1x1 .two{
	float:right;
	width: 379px;
	height:214px;
}
.ContentHome .xwmain .xwleft .ban1x1 .two .title1{
	float:left;
	width: 379px;
	height:39px;
	background-image: url(onetitle.png);
}
.ContentHome .xwmain .xwleft .ban1x1 .two .title1 .left{
	float:left;
	width: 150px;
	height: 39px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #FFF;
	text-indent: 40px;
	line-height: 39px;
	background-image: url(tzggdian.png);
	background-repeat: no-repeat;
	background-position: 15px;
}
.ContentHome .xwmain .xwleft .ban1x1 .two .title1 .right{
	float:right;
	width: 130px;
	height: 39px;
}
.ContentHome .xwmain .xwleft .ban1x1 .two .main1{
	float:left;
	width: 379px;
	height:175px;
	background-image: url(bg1.png);
	background-position: center;
}
.ContentHome .xwmain .xwleft .ban1x1 .two .main1 .nei{
	float:left;
	width: 300px;
	height:175px;
	margin-left: 10px;
}
.ContentHome .xwmain .xwleft .ban1x1 .two .main1 .nei li{
	line-height: 26px;
	text-align: left;
}
.ContentHome .xwmain .xwleft .ban1x1 .two .main1 .riqi{
	float:right;
	width: 60px;
	height:175px;
}
.ContentHome .xwmain .xwleft .ban1x1 .two .main1 .riqi li{
	line-height: 26px;
	text-align: left;
}
.ContentHome .xwmain .xwleft .ban1x2{
	float:left;
	width: 759px;
	padding-bottom: 6px;
}
.ContentHome .xwmain .xwleft .ban1x2 .zuo1{
	float:left;
	width: 375px;
	height:201px;
	padding-bottom: 6px;
	background-image: url(zuo1.png);
	background-repeat: repeat-x;
	border: 1px solid #d8eefc;
}
.ContentHome .xwmain .xwleft .ban1x2 .zuo1 .one{
	float:left;
	width: 50px;
	height:201px;
}
.ContentHome .xwmain .xwleft .ban1x2 .zuo1 .two{
	float:left;
	width: 320px;
	height:201px;
}
.ContentHome .xwmain .xwleft .ban1x2 .you1{
	float:right;
	width: 375px;
	height:201px;
	padding-bottom: 6px;
	background-image: url(zuo1.png);
	background-repeat: repeat-x;
	border: 1px solid #d8eefc;
}

.ContentHome .xwmain .xwright{
	float:right;
	width: 232px;
	height:1100px;
	background-color: #f1f1f1;
}
.ContentHome .xwmain .xwright .one{
	float:right;
	width: 232px;
	height:130px;
	background-image: url(zb01.jpg);
	background-repeat: repeat-x;
	padding-top: 4px;
	text-align: center;
}
.ContentHome .xwmain .xwright .two{
	float:right;
	width: 232px;
	height:228px;
	background-image: url(zb01.jpg);
	background-repeat: repeat-x;
	padding-top: 4px;
	text-align: center;
}
.ContentHome .xwmain .xwright .three{
	float:right;
	width: 232px;
	height:570px;
	text-align: center;
}
.ContentHome .xwmain .xwright .four{
	float:right;
	width: 232px;
	height:165px;
	text-align: center;
	background-color: #eaf3fa;
}
.ContentHome .xwmain .xwright .four .in{
	float:right;
	width: 232px;
	height:130px;
	text-align: center;
	background-color: #eaf3fa;
}
 .input1 {
	width: 180px;
	height:25px;
	border: 1px solid #1c92f1;
	background-image: url(input.jpg);
	background-repeat: no-repeat;
	background-color: #FFF;
	text-align: center;
}

































.ContentHome .fousright{
	float:right;
	width: 710px;
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.ContentHome .left{ float:right; width: 250px; }
.ContentHome .left .tzggtit{
	background-image: url(tzgg_titbg.jpg);
	background-repeat: no-repeat;
	height: 43px;
}
.ContentHome .left .tzggtit .titleone{
	float:left;
	font-size: 14px;
	font-weight: bold;
	color: #fc0000;
	padding-left: 53px;
	height: 43px;
	width: 100px;
	line-height: 35px;
}
.ContentHome .left .tzggtit .titletwo{
	float:right;
	font-size: 12px;
	color: #f76444;
	height: 43px;
	width: 50px;
	line-height: 35px;
	padding-right: 5px;
}
.ContentHome .left .tzggmain{
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e3e3e3;
	border-left-color: #e3e3e3;
}
.ContentHome .left .tzggmain li{
	line-height: 25px;
	text-align: left;
}
.ContentHome .left .tzggmain .line{
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #e0e1e3;
	border-left-color: #FFF;
}
.ContentHome .left .down{
	background-image: url(tzgg_down.jpg);
	background-repeat: no-repeat;
	height: 15px;
}


.ContentHome .fous .one{
	float:left;
	width: 720px;
	height: 328px;
	border: 1px solid #d9d9d9;
	background-image: url(fous_bg.jpg);
	background-repeat: no-repeat;
}

.ContentHome .foustwo{
	float:left;
	width: 720px;
}



.ContentHome .fous .one .left{
	float:left;
	width: 97px;
	height: 27px;
	background-image: url(fousoneleft.jpg);
	background-repeat: no-repeat;
	text-align: left;
}
.ContentHome .fous .one .right{
	float:right;
	width: 50px;
	height: 27px;
	color: #515151;
	text-align: right;
	padding-top: 5px;
}
.ContentHome .fous .two{
	float:left;
	width: 100%;

}
.ContentHome .fous .three{
	float:left;
	width: 100%;

}
.ContentHome .fous .three .down{
	margin-top: 2px;
	padding: 2px;
	line-height: 20px;
	text-align: left;
}
.ContentHome .fous .three .down li{
	line-height: 23px;
	text-align: left;
}
.ContentHome .fous .three .down .line{
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #e0e1e3;
	border-left-color: #FFF;
}





.ContentHome .fous .two .left{
	float:left;
	width: 247px;
	height: 193px;
	background-color: #ace1fa;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	text-align: center;
	padding-top: 3px;
}
.ContentHome .fous .two .right{
	float:left;
	width: 458px;
	height: 196px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.ContentHome .fous .two .right .top{
	float:right;
	width: 450px;
	height: 60px;
	background-color: #eff1ee;
	border: 1px solid #e0e1e3;
	margin-top: 3px;
	padding: 2px;
	line-height: 20px;
}
.ContentHome .fous .two .right .down{
	float:right;
	width: 450px;
	height: 116px;
	margin-top: 2px;
	padding: 2px;
	line-height: 20px;
	text-align: left;
}
.ContentHome .fous .two .right .down li{
	line-height: 23px;
	text-align: left;
}
.ContentHome .fous .two .right .down .line{
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #e0e1e3;
	border-left-color: #FFF;
}
.ContentHome .foustwo{
	float:left;
	width: 981px;
}
.ContentHome .foustwo .one{
	float:left;
	width: 358px;
}
.ContentHome .foustwo .one .taitou{
	background-image: url(zytz_titlebg.jpg);
	height: 32px;
}
.ContentHome .foustwo .one .taitou .one{
	float:left;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #FFF;
	text-indent: 21px;
	width: 150px;
}
.ContentHome .foustwo .one .taitou .two{
	float:right;
	width: 50px;
	line-height: 32px;
	padding-top: 10px;
	text-align: right;
}
.ContentHome .foustwo .one .neirong{
	float:left;
	width: 356px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e3e3e3;
	border-left-color: #e3e3e3;
}
.ContentHome .foustwo .one .neirong li{
	line-height: 23px;
	text-align: left;
}
.ContentHome .foustwo .one .neirong .line{
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #e0e1e3;
	border-left-color: #FFF;
}
.ContentHome .foustwo .one .down{
	float:left;
	width: 358px;
	background-image: url(zytz_down.jpg);
	background-repeat: no-repeat;
	height: 8px;
}
.ContentHome .foustwo .two{
	float:left;
	width: 357px;
	margin-left: 6px;
}
.ContentHome .foustwo .two .taitou{
	background-image: url(zytz_titlebg.jpg);
	height: 32px;
}
.ContentHome .foustwo .two .taitou .one{
	float:left;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #FFF;
	text-indent: 21px;
	width: 150px;
}
.ContentHome .foustwo .two .taitou .two{
	float:right;
	width: 50px;
	line-height: 32px;
	padding-top: 10px;
	text-align: right;
}
.ContentHome .foustwo .two .neirong{
	float:left;
	width: 356px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e3e3e3;
	border-left-color: #e3e3e3;
}
.ContentHome .foustwo .two .neirong li{
	line-height: 23px;
	text-align: left;
}
.ContentHome .foustwo .two .neirong .line{
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #e0e1e3;
	border-left-color: #FFF;
}
.ContentHome .foustwo .two .down{
	float:left;
	width: 358px;
	background-image: url(zytz_down.jpg);
	background-repeat: no-repeat;
	height: 8px;
}

.ContentHome .foustwo .three{
	float:left;
	width: 251px;
	margin-left: 8px;
	padding-top: 5px;
}

.ContentHome .fousthree{
	float:left;
	width: 981px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.ContentHome .fousfour{
	float:left;
	width: 981px;
	margin-bottom: 5px;
}
.ContentHome .fousfour .one{
	float:left;
	width: 323px;
}
.ContentHome .fousfour .one .taitou{
	background-image: url(cxzy_titlebg.jpg);
	height: 31px;
}
.ContentHome .fousfour .one .taitou .one{
	float:left;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #FFF;
	width: 220px;
}
.ContentHome .fousfour .one .taitou .one .but1{
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	background-image: url(but1.jpg);
	background-repeat: no-repeat;
	height: 31px;
	width: 62px;
	line-height: 31px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ContentHome .fousfour .one .taitou .one .but2{
	font-size: 12px;
	font-weight: bold;
	color: #e83813;
	background-image: url(but2.jpg);
	background-repeat: no-repeat;
	height: 31px;
	width: 62px;
	line-height: 31px;
		border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ContentHome .fousfour .one .taitou .two{
	float:right;
	width: 50px;
	line-height: 31px;
	padding-top: 10px;
	text-align: right;
}
.ContentHome .fousfour .one .neirong{
	float:left;
	width: 321px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e3e3e3;
	border-left-color: #e3e3e3;
}
.ContentHome .fousfour .one .neirong li{
	line-height: 23px;
	text-align: left;
}
.ContentHome .fousfour .one .neirong .line{
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #e0e1e3;
	border-left-color: #FFF;
}
.ContentHome .fousfour .one .down{
	float:left;
	width: 323px;
	background-image: url(cxzy_down.jpg);
	background-repeat: no-repeat;
	height: 8px;
}






.ContentHome .fousfour .two{
	float:left;
	width: 323px;
	margin-left: 5px;
}
.ContentHome .fousfour .two .taitou{
	background-image: url(cxzy_titlebg.jpg);
	height: 31px;
}
.ContentHome .fousfour .two .taitou .one{
	float:left;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #FFF;
	width: 220px;
}
.ContentHome .fousfour .two .taitou .one .but1{
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	background-image: url(but1.jpg);
	background-repeat: no-repeat;
	height: 31px;
	width: 62px;
	line-height: 31px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ContentHome .fousfour .two .taitou .one .but2{
	font-size: 12px;
	font-weight: bold;
	color: #e83813;
	background-image: url(but2.jpg);
	background-repeat: no-repeat;
	height: 31px;
	width: 62px;
	line-height: 31px;
		border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ContentHome .fousfour .two .taitou .two{
	float:right;
	width: 50px;
	line-height: 31px;
	padding-top: 10px;
	text-align: right;
}
.ContentHome .fousfour .two .neirong{
	float:left;
	width: 321px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e3e3e3;
	border-left-color: #e3e3e3;
}
.ContentHome .fousfour .two .neirong li{
	line-height: 23px;
	text-align: left;
}
.ContentHome .fousfour .two .neirong .line{
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #e0e1e3;
	border-left-color: #FFF;
}
.ContentHome .fousfour .two .down{
	float:left;
	width: 323px;
	background-image: url(cxzy_down.jpg);
	background-repeat: no-repeat;
	height: 8px;
}
.ContentHome .fousfour .three{
	float:right;
	width: 323px;
	margin-left: 4px;
}
.ContentHome .fousfour .three .taitou{
	background-image: url(cxzy_titlebg.jpg);
	height: 31px;
}
.ContentHome .fousfour .three .taitou .one{
	float:left;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	color: #FFF;
	width: 220px;
}
.ContentHome .fousfour .three .taitou .one .but1{
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	background-image: url(but1.jpg);
	background-repeat: no-repeat;
	height: 31px;
	width: 62px;
	line-height: 31px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ContentHome .fousfour .three .taitou .one .but2{
	font-size: 12px;
	font-weight: bold;
	color: #e83813;
	background-image: url(but2.jpg);
	background-repeat: no-repeat;
	height: 31px;
	width: 62px;
	line-height: 31px;
		border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ContentHome .fousfour .three .taitou .two{
	float:right;
	width: 50px;
	line-height: 31px;
	padding-top: 10px;
	text-align: right;
}
.ContentHome .fousfour .three .neirong{
	float:left;
	width: 321px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e3e3e3;
	border-left-color: #e3e3e3;
}
.ContentHome .fousfour .three .neirong li{
	line-height: 23px;
	text-align: left;
}
.ContentHome .fousfour .three .neirong .line{
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #e0e1e3;
	border-left-color: #FFF;
}
.ContentHome .fousfour .three .down{
	float:left;
	width: 323px;
	background-image: url(cxzy_down.jpg);
	background-repeat: no-repeat;
	height: 8px;
}
.ContentHome .fousfive{
	background-image: url(yqlj_bg.jpg);
	float:left;
	width: 981px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 103px;
	background-repeat: no-repeat;
}
.ContentHome .fousfive .yqlj{
	padding-top: 50px;
	text-align: center;
}
.ContentHome .fousfive .input{
	height: 22px;
	line-height: 15px;
	border: 1px solid #ccc;
	background-image: url(yylj_1.jpg);
}

.wzdh{
	width: 995px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-bottom: 15px;
}
.Foot{
	font-size: 12px;
	background-image: url(foot.jpg);
	background-repeat: repeat-x;
	text-align: center;
	height: 61px;
	width: 100%;
	padding-top: 20px;
}
.Foot .icp p{ margin: 0; padding: 0 0 5px;}

.title{
    background:url("img/title.jpg") repeat-x;
    border:1px gray;
    height:20px;
    width:270px;
    padding-top:5px;
    font-family:"宋体";
    font-weight:100;
    color:white;
    
}
.asPage{
    width: 268px;
    height: 110px;
    border: 1px outset gray;
    background-color:white
}

#ul_wzdh .title{ font-weight:bold; color:#000000; background:url(../images2010/title.jpg) no-repeat 10px center; padding:0px 20px 0px 23px;}

#ul_wzdh{margin:0px; padding:0px; list-style:none; height:25px;}
#ul_wzdh li{ float:left; height:25px; line-height:23px; font-size:14px;}
#ul_wzdh .title{ font-weight:bold; background:url(../images2010/title.jpg) no-repeat 10px center; padding:0px 20px 0px 23px;}
#ul_wzdh .fg{ background:url(../images2010/nav_bg.jpg) no-repeat; width:20px;}
#ul_wzdh .out{ background:#FFFFFF url(../images2010/li_bg2.jpg) no-repeat bottom; border:1px solid #999999; border-bottom:none; padding:0px 15px; cursor:pointer;}
#ul_wzdh .on{ background:#1C93F1; border:1px solid #999999; color:#FFFFFF; border-bottom:none; padding:0px 15px; cursor:pointer;}

.div_wzdh{ border:1px solid #999999; height:93px; width:995px;padding-top:5px; overflow:auto; background:url(wzdh2.png);}
.ul_link{margin:0px; padding-left:10px; list-style:none;}
.ul_link li{ float:left; width:92px; padding:4px 2px;border:0px solid #0000ff;color:#08307B;}
.ul_link li a, .ul_link li a:visited, .ul_link li a:hover {color:#08307B;}

.div_link {margin-left:40px;width:95%; text-align:left;}
.span_link {display:inline-block;}

h1.title1 {
    font-family: 微软雅黑, 黑体, Verdana;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 18px;
    color: #000;
    font-weight: 500;
    /*padding-top: 22px;*/
    z-index: 0;
    position: relative;
    overflow: hidden
}

h1.title1 .lemmaTitleH1 {
    float: left;
    height: 100%;
    padding: 0 0 5px 0
}

h1.sub-title {
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0
}

h1 span[style] {
    font-size: 24px !important;
    font-family: 微软雅黑,黑体,Verdana !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    color: #000 !important;
}

h1 span span[style] {
    font-size: 24px !important;
    font-family: 微软雅黑,黑体,Verdana !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    color: #000 !important;
}